*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
.footer .container{
	margin: auto;
	color: #ffffff;
	display: flex;
	justify-content: center;
}
.footer ul{
	list-style: none;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	padding:20px 0;
	margin-top:40px;
    background-image: url(../img/fundo-footer.png);   
}
.container .parallax{
	background-size: cover;
    background-attachment: fixed;
}
.footer-col{
	margin-top: 20px;
	width: 60%;
	padding: 0 15px;
}
.footer-col-en{
	width: 40%;
	padding: 0 15px;
}
.footer-col h5{
	font-size: 18px; 
	color:#ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	margin-left: 30px;
}

.footer-col ul li{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
}
.copy{
	background-color: #6b6b6b;	
	text-align: center;
	color: #ffffff;
	padding: 5px 0;
}
.copy a{
	text-decoration: none;
	color: #ffffff;
}
