body{
	margin:0;
	overflow: hidden;
}
#area-login{
	width:100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.img-fundo{
	position: absolute;
}
.darkened-image {
    filter: brightness(40%);
}
.card-login{
	background-color: #ffffff;
	width: 340px;
	height: 430px;	
	border: solid 1px #c0c0c0;
	padding: 30px 35px;
	display: flex;
	flex-direction: column;	
	align-items: center;
	border-radius: 15px;
	box-shadow: 20px 20px 50px -30px #000000;
	outline:none;
	position: absolute;
}
.card-login input{
	margin-top: 10px;
	background-color:#e5e5e5;
}
.titulo h2{
	font-weight: 800;
	margin: 0;
}
.textfield{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.textfield input{
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	margin: 10px 0px;
}
.textfield label{
	margin-bottom: 5px;
}
.textfield input::placeholder{
	color: #808080;	
}	
.btn-login{
	width:100%;
	padding: 10px 0px;
	border: none;
	border-radius: 7px;
	margin: 25px 0px;
	font-weight: 700;
	letter-spacing: 2px;
	cursor: pointer;
	box-shadow: 0px 10px 30px -10px #8080c0;
	background-color: #e9dc96;
}
.card-login p{
	color:#202020;
}