*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

.div1{
	min-height: 300px;
}
.div2{
	min-height: 1000px;
}
.div3{
	min-height: 70px;
}
.divlinha1{
	min-height: 400px;
}
.divlinha2{
	min-height: 400px;
}
.div7{
	min-height: 55px;
}
#cards button{
	border: 1px solid #e2e2e2;
}
#div1{
	background-color:#e2e2e2;
	margin-top:50px;
	padding:10px;
}
#div2{
	margin-top:50px;
}
#div3 h3{
	padding:20px;
}
#div4{
	margin-top:10px;
}
#div5{
	margin-top:10px;
}
#div6{
	margin-top:20px;
}
#div7{
	margin-top:20px;
}

#tipo_imovel{
	margin-top: 10px;
	margin-bottom: 15px;
	height:50px;
}
#bairros{
	background-color: white;
	height: 200px;
	padding:10px;
}
#tipo_bairro{
	margin-top: 15px;
	margin-bottom: 15px;
	height:50px;
}

#div_cards{
	justify-content: center;
	align-items:center;
}
#cards{
	display: flex;
	padding: 10px 5px;
	flex-wrap: wrap;
}
#cards .card-body{
    width: 155px;
	margin-left: 15px;
	border-radius: 3px;
	display: flex;
	flex-direction:column;
	border: 1px solid #c0c0c0;
    box-shadow: 20px 20px 20px -30px #808080;
}
#cards .card-body .texto{
	padding: 10px 5px;
}
#cards .card-body .imgs{
	height:250px;
}
#cards .card-body .imgs img{
	width: 100%;
	height:100%;
}
#cards .card-body:first-child{
	margin:0;
}
#carrosel.cards {
    display: flex;
	align-items: center;
    padding: 15% 5%; 
    margin-left: 1.5px;
}
.bnt-form{
	background-color:#8080ff;
}