/*.navbar-light.scrolled{
	background: white;
	border-bottom: gray;
}*/

#banner{
    background-color:#c0c0c0;
    height: 520px;
    background-image: url(../img/banner.jpg);
}
.parallax{
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
}
#div2{
	height: 340px;
	align-items: center;
    text-align: center;	  
}
#div4{
	background-color:#87CEEB;
	min-height: 500px;
    position: absolute;
    margin-left:33%;
}
#div-hidden{
	  display: none;
}
#central{
	background-color:green;
	height:500px;
    margin:0;
}
#div-hidden .divs-hidden{
	background-color:#f1eabc;
	height: 150px;
    margin-top: 20px;
    margin-left: 10%;
	box-shadow: 10px 10px 50px -30px #DBC4FF;
}
#div-hidden #div-missao{
    margin-top: 70px;
}
#div5{
    height: 500px;
}
#div5 h3{
	text-align: center;
	margin-top: 15px;
}
.botao-div5{
    margin-left: 0%;
    margin-top: 2%;
    text-align: center;
}
#img-div4{
    height: 500px;
    position: absolute;
    background-image: url(../img/img_div10.jpg);
    background-size: 550px 600px;   
	background-image: cover;   
}
.botao-div4{
    margin-left: 65px;
    margin-top: 350px;
    position: absolute;
    text-align: center;
}
.texto-div4{
    height: 20px;
    margin-left: 10%;
    margin-top: 7%;
    position: absolute;
}
.personagem-div4{
	margin-left: 420px;
    margin-top: 33%;
    position: absolute;
    text-align: center;
    height: 320px;
}
.sub-titulo h2{
	font-family: 'Comfortaa', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto Mono', monospace;
}
.darkened-image {
    filter: brightness(70%);
}
.parallax h3{
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	margin-top: 255px;
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
	white-space: nowrap;
	overflow: hidden;
}
#titulo-banner{
	border-right: 2px solid #ffffff;
	width:45%;
 	margin-left: 350px;
 	z-index: 8;
}
.typing-animation{
	animation: cursor 500ms steps(40) infinite normal,
	typing 8s steps(45) 1s infinite normal;
}
@keyframes typing{
	from{
		width:0;
	}
	to{
		width:46%;
	}
}
@keyframes cursor{
	from{
		border-right-color: #ffffff;
	}
	to{
		border-right-color: transparent;
	}
}
.card-body{
	height: 300px;
    width: 300px;
}
#carrosel .card-body-carrosel{
	height: 350px;
    width: 260px;
    background-color:#ffffff;
    border-radius: 5px;
	margin-left: 5%;
	border: solid 1px #c0c0c0;
	margin-top: 3px;
	box-shadow: 20px 20px 50px -30px #DBC4FF;
}
#carrosel .card-body-text{
    margin-top: 20px;
	font-size: 16px;
    margin-left: 10px;
}
#carrosel .carousel-item{
	height: 170px;
    width: 100%;
}


.espaco{
    height: 60px;
}
.botoes-caixa{
    margin-top: 45px;
}
.cards {
    display: flex;
    align-items: center;
    padding: 10% 0%;
    height: 350px;
}
#carrosel.cards {
    display: flex;
	align-items: center;
    padding: 15% 5%; 
    margin-left: 1.5px;
}

#card-group.cards .card {
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1% 3%;
    border-radius: 8px;
    height: 255px;
    margin-left:6.3%;
}

#card-group.cards .icon {
    width: 30%;
    height: 64px;
}

#card-group.cards img {
    width: 100%;
}

#card-group.cards h3 {
    font-size: 100%;
    margin: 16px 0;
}

#card-group.cards p {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 16px;
}

#card-group.cards button {
    padding: 8px 11px;
    border-radius: 15px;
    border: 0;
    font-size: 90%;
    color: #ffffff;
    margin-bottom: 16px 0;
}

#card-group.cards .card.comprador button {
    background-color: #808080;
}
#card-group.cards .card.inquilinos button {
    background-color: #808080;
}
#card-group.cards .card.proprietarios button {
    background-color: #808080;
}

#card-group.cards .card.comprador {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
#card-group.cards .card.inquilinos {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
#card-group.cards .card.proprietarios {
    box-shadow: 20px 20px 50px -30px #DBC4FF;
}
/*RESPONSIVIDADE*/
@media (max-width: 600px) {
	.personagem-div4{
		display: none;
	}

}